* {
  text-align: center;
  color:#c5c6c7;
}
span {
  font-size: 20px
}
body {
  background-color: #0b0c10;

}
.App-header {
  
  height: 150px;
  padding: 20px;
  
}
.tempBorder {
  width:75%;
  margin:0 auto;
  height:375px;
  border:solid rgba(69, 162, 152, 0.41) 1px;

  background-color:#1f2833;
}
/* TITLE COMPONENT */
.title h2{
  font-size: 50px;
  font-weight:200px;
  color:#66fcf1;
  margin-bottom: 15px;
  margin-top:3%;
}
#logo {
  padding-bottom: 10px;
}
/* NAV */
.navComponent {
  width:75%;
  height:50px;
  margin:0 auto;
}
nav {
  color:#45A29E;
}


/* MOVIE COMPONENT */
.movieContainerComponent {
 /* background-image: url("http://i.imgur.com/jBjclkI.jpg");
  background-repeat:no-repeat;
  /*background-size:cover;*/
  background-position:center;
  overflow:scroll;*/
  width:75%;
  margin:0 auto;
}
#movieResults {
  display:flex;
  margin: 0 auto;
  padding-top: 30px;
}
#renderMovieComponent{
  height:300px;
  width:200px;
  margin:0 auto;
}
.imageContainer {
  height: 280px;
  
}
.imageContainer img {
  width:100%;
  height:100%;
  border:solid white 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: .3s;
}
.imageContainer img:hover {
  /*box-shadow:0 8px 16px 0 rgba(102, 252, 241, .3);*/
  box-shadow:0 8px 16px 5px rgba(0,0,0,0.5);
  border:solid #66fcf1 2px;

}
/* SELECTED MOVIE PAGE */
.selectedMoviePage {

}
#selectedMovieDetails {
  width:50%;

}
#selectedMovieDetails p {
  text-align: justify;
  max-height: 150px;
  overflow:scroll;
}
#selectedMovieTitle {
  font-weight:100;
  font-size:24px;
  color:#66fcf1;
  text-align:center;

}
#watchme {
  color:#66fcf1;
  align-content: center;
  font-size:18px;
  font-weight:100;
  margin-bottom:5px;
}
#movieAndDescription {
  display: flex;
  height:100%;
  justify-content: space-between;
  padding:25px 140px 0 140px;
 

}
#selectedMoviePosterDiv{
  height:280px;
  width:200px;
}
.poster {
  width:100%;
  height:100%;
  border:solid #66fcf1 3px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transition: .3s;
  
}
#amazonResultsDiv {
  width:200px;
  align-content:center;
  margin:0 auto;
}
#amazonResults {
  border:solid #45a29e 3px;
  height:78px;
  width: 200px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  transition:.3s;
}
#amazonResults:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transition:.3s;
}
#amazonImage {
  width:100%;
}

/* ABOUT COMPONENT */
.aboutComponent {
  
}
/* FOOTER COMPONENT */
.footerComponent {
  border:solid green 1px;
  height:50px;
  margin-bottom:25px;
}