<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Watch Something API</h1>
    
	<div id="routes">
	<!-- Add movies to  /addMovies <br /><br /> -->
  <!-- Add movie genres /addMovieGenres -->
	<p><span class="route"> Get All Movies:</span> /getAllMovies </p>
	<p><span class="route">Get One Movie: </span>/getOneMovie/:id </p>
	<p><span class="route">Get Movie Based on User Selection:</span> /getMovie/:year/:genre </p>

 	<p><span class="route">Get Movie Genres:</span> /getMovieGenres </p>
 	<p><span class="route">Get Movie Amazon Link:</span> /getMovieLink/:title </p>
  </div> 
  

  </body>
</html>
