<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	
	add movies to db: /addMovies <br /><br />

	get all movies: /getAllMovies <br /><br />
	get one movie: /getOneMovie/:id <br /><br />
	get movie based on user selection: /getMovie/:year/:genre <br /><br />

 	addmovie genres: /addMovieGenres <br /><br />
 	get movie genres: /getMovieGenres <br /><br />
 	get movie link: /getMovieLink/:title <br /><br />

  </body>
</html>
